/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Main Container Styling */
.login {
  padding: 30px;
  background-color: rgba(44, 62, 80, 0.08);
  width: 100%;
  max-width: 40%;
  margin: 2% auto;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(44, 62, 80, 0.6);
  margin-top: 5%;
}

/* Heading Styling */
.login h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #34495e;
  font-weight: 700;
}

/* Label styling */
.login label {
  display: block;
  font-size: 18px;
  text-align: start;
  font-weight: 600;
  color: #34495e;
  margin-bottom: 5px;
}

/* Input Fields */
.login input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input field focus styling */
.login input:focus {
  border-color: #2c3e50;
  outline: none;
  box-shadow: 0 0 5px rgba(44, 62, 80, 0.5);
}

/* Button Styling */
.login button {
  width: 100%;
  padding: 12px;
  margin: 10px 0px;
  background-color: #336fc4;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #39639e;
}
.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 992px) {
  .login {
    max-width: 50%;
    margin-top: 8%;
  }
}

@media screen and (max-width: 768px) {
  .login {
    max-width: 70%;
    margin-top: 8%;
  }
}

@media screen and (max-width: 576px) {
  .login {
    max-width: 95%;
    padding: 20px;
    margin-top: 12%;
  }

  .login label {
    font-size: 16px;
  }

  .login input,
  .login button {
    font-size: 15px;
  }
}
