.userHomeContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlayText {
  position: relative;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.overlayText h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.overlayText p {
  font-size: 1.2rem;
}
/* Profile.js style */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f0f2f5;
  padding: 2rem 1rem;
}

.profile-card {
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding-bottom: 2rem;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-bottom: 1rem;
}

.profile-header h2 {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .profile-card {
    width: 90%;
    padding-bottom: 1.5rem;
  }

  .profile-header h2 {
    font-size: 1.3rem;
  }


}

@media (max-width: 480px) {
  .profile-header h2 {
    font-size: 1.1rem;
  }
  .profile-img {
    width: 80px;
    height: 80px;
  }
}


